/**
 * @file       PI-Defender_UM.rc
 * @brief      Define resource for DLL
 * @author     NAVAL-Group (Berenger BRAULT, Nicolas JALLET)
 * @version    1.0
 * @date       02/06/2022
 * @copyright  ©Naval Group SA.
 *             This document in its content and form is the property of Naval Group SA and/or third parties.
 *             This project is released under the LGPLv3 license.
*/


LANGUAGE 0x9,0x1
1 11 "MSG00409.bin"
